<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
      
        <title>RESTful Blog App</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" integrity="sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    <i class="comments icon"></i>RESTful Blog App
                </a>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>